/**
 * @name Gruvbox dark 
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://slippinggittys-discord-themes.github.io/Bouquet/theme/fauxtitlebar.css');
@import url('https://slippinggitty-s-discord-things.github.io/Chat-Bubbles/ChatBubbles.theme.css');
@import url('https://slippinggittys-discord-themes.github.io/Bouquet/theme/bubblebar.css');
@import url('https://slippinggittys-discord-Themes.github.io/Espresso-Discord-Theme/themes/fixations/style changes/NoShadows.css');

:root {
  --accentcolor: 69,133,136;
  --accentcolor2: 127,162,172;
  --linkcolor: 104,157,106;
  --mentioncolor: 250,166,26;
  --textbrightest: 69,133,136;
  --textbrighter: 138,130,130;
  --textbright: 255,255,255;
  --textdark: 231,215,173;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: Inconsolata;
  --backgroundaccent: 80,73,69;
  --backgroundprimary: 32,32,32;
  --backgroundsecondary: 23,26,26;
  --backgroundsecondaryalt: 0,0,0;
  --backgroundtertiary: 13,14,15;
  --backgroundfloating: 0,0,0;
  --settingsicons: 1;
}

/* Any custom CSS below here */

.container-ZMc96U.themed-Hp1KC_, .messagesPopoutWrap-3zryHW, .sidebarRegionScroller-FXiQOh, .wrapper-1gVUIN.minimum-fXpVNc, .drawerSizingWrapper-1txdWG, .browser-mnQ1T7, .grid-1aWVsE, .resultsGroup-cfY57t, .newMessagesBar-1hF-9G, .wrapper-2vIMkT, 
.full-motion .translate-2vghI-.didRender-2dwLEv  {
  backdrop-filter: blur(5px);
}

.drawerSizingWrapper-1txdWG, .browser-mnQ1T7, .container-2rzKKA, .resultsGroup-cfY57t,
.full-motion .translate-2vghI-.didRender-2dwLEv, .messagesPopoutWrap-3zryHW  {
  border: 1px solid var(--accentcolor); 
  border-radius: 5px;
}

/*buttons*/

.lookFilled-1H2Jvj.colorRed-2VFhM4,
.lookOutlined-3RTC7c.colorRed-2VFhM4 {
    background-color: var(--backgroundsecondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: white;
    color: white;
    text-align: center;
    transition: 0.9s;
}
